<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapper文件相当于DAO接口的‘实现类’，namespace属性要指定`实现`DAO接口的全限定名-->
<mapper namespace="com.qfedu.dao.staffDAO">

    <!-- useGeneratedKeys 设置添加操作是否需要回填生成的主键 -->
    <!-- keyProperty 设置回填的主键值赋值到参数对象的哪个属性 -->
    <insert id="insertStaff" >
        <!--        <selectKey keyProperty="stuId" resultType="java.lang.Integer">-->
        <!--            select last_insert_id()-->
        <!--        </selectKey>-->
        insert into staff(id,name,age,gender,number,supply_center,mobile_number,type)
        values (#{id}, #{name}, #{age}, #{gender}, #{number}, #{supply_center}, #{mobile_number}, #{type})
    </insert>

    <delete id="deleteStaff">
        delete
        from staff
        where id = #{id}
    </delete>

    <update id="updateStaff">
        update staff
        set name=#{name},
        age=#{age},
        gender=#{gender},
        number=#{number},
        supply_center=#{supply_center},
        mobile_number=#{mobile_number},
        type=#{type}
        where id = #{id}
    </update>

    <!--  resultType 指定查询结果封装的对象的实体类  -->
    <!--  resultSets 指定当前操作返回的集合类型（可省略）  -->


    <!-- resultMap标签用于定义实体类与数据表的映射关系（ORM） -->
    <resultMap id="staffMap" type="staff">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="gender" property="gender"/>
        <result column="number" property="number"/>
        <result column="supply_center" property="supply_center"/>
        <result column="mobile_number" property="mobile_number"/>
        <result column="type" property="type"/>
    </resultMap>

    <sql id="x">id,name,age,gender,number,supply_center,mobile_number,type</sql>

    <!-- resultMap 用于引用一个实体的映射关系，当配置了resultMap之后 resultType就可以省略 -->
    <select id="listStaff" resultMap="staffMap">
        select <include refid="x"/> from staff
    </select>

    <select id="queryStaff" resultMap="staffMap">
        select <include refid="x"/> from staff
        where id=#{id}
    </select>

    <select id="countStaff" resultType="java.lang.Integer">
        select count(*)
        from staff
    </select>

</mapper>

